  /* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

  :root {
    --color1: #D95100;
    --color2: #0774ce;
    --color3: #e29364;
}
.card {
  margin: 25px 0;
  min-width: 242px;
  box-shadow: rgba(0, 0, 0, 0.25) 3px 5px 10px 0px;
  transition: all .3s ease-in-out;
  cursor:pointer;
}

.card-short-description {
  margin: 2px 0;
  clear: both;
  display: block;
}

.card-img-top {
  height: 180px;
  min-width: 238px;
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 7px 10px 14px 0px;
  transform: scale(1.05);
}

.btn {
  transition:all 0.3s ease-in-out;
}

  .btn:hover {
      transform: scale(1.1);
      box-shadow: rgba(0, 0, 0, 0.35) 4px 3px 7px 0px;
  }

.btn-no-effect:hover {
  transform: scale(1);
  box-shadow: none;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.buy-now-btn {
  background-color: var(--color1);
  border: 1px solid var(--color1);
  color: #fff;
}
  .buy-now-btn:hover,
  .buy-now-btn:active {
      background-color: var(--color2);
      border: 1px solid var(--color2);
      color: #fff;
  }

.weekly-getting,
.weekly-getting p,
.weekly-getting h4
{
  margin: 0;
  padding:0
}
  .weekly-getting p:last-child {
      margin-bottom: -10px;
      font-style: italic
  }

.validation-summary-errors,
.field-validation-error {
  display: block;
  padding: 0.55rem 1.25rem;
  border: 1px solid transparent;
  border-radius: 0 0 0.25rem 0.25rem;
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.validation-summary-errors {
  margin: 10px 0;
  border-radius: 4px;
}

  .validation-summary-errors > ul:last-child {
      margin: 4px;
  }
.no-padding-margin {
  margin:0;
  padding:0;
}

.fa-small {
  font-size: 12px;
  vertical-align:middle;
  transform: translate(0%, -25%);
}

