@model Carshop.Models.CarViewModel
<div class="row my-3">
    <h2>Voitures</h2>
</div>
@if (Model.Voitures?.Count() > 0)
{
    
    <div class="row">
        @foreach (var car in Model.Voitures)
        {
            @await Html.PartialAsync("CarView", car);
        }
    </div>
}
else
{
    <h1>Nos modèles</h1>
    <p>Désolé! Aucune voiture de la catégorie :  n'est en stock. </p>
}
